li{
    padding: 20px 0;
}
li::before  {
    content:'' ;
    display: block;
    width: 0px;
    height: 3px;
   
    background-color: aqua;

}
li:hover::before{
width:100px;
transition: all 1s;

}
svg{
    width: 100px;
}